.navbar {
    background-color: #E6FFFA;
    padding: 1rem 0;
  }
  .navbar-container {
    max-width: 64rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .tabs-wrapper {
    width: fit-content;
    margin: 0 auto 1.5rem;
    position: relative;
    z-index: 10;
  }
  .tabs-list {
    backdrop-filter: blur(8px);
    background: #ffffffb3;
    border-radius: 9999px;
    grid-template-columns: repeat(4, auto);
    gap: .5rem;
    padding: .5rem;
    display: flex
;
    width: fit-content;
    box-shadow: 0 4px 8px #0000001a;
  }
  .tabs-trigger {
    text-align: center;
    padding: 0.5rem 1rem;
  }
  .tabs-trigger button,
  .tabs-trigger a {
    display: inline-block;
    font-weight: 600;
  }
  